<body class="container text-center" style="max-width: 500px; margin: auto">
    <form [formGroup]="formSubmit" class="form-login" (ngSubmit)="submit()">
  <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" formControlName="inputEmail" class="form-control" placeholder="Email address" autofocus>
  <label class="alert alert-danger" *ngIf="!this.formSubmit.controls.inputEmail.valid && this.formSubmit.controls.inputEmail.touched" style="margin: 10px">Email Required</label>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" formControlName="inputPassword" class="form-control" placeholder="Password">
  <label class="alert alert-danger" *ngIf="inputPasswordInvalid" style="margin: 10px">Password required: Must be 4-20 characters</label>
  <label for="confirmPassword" class="sr-only">Confirm Password</label>
  <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password">
  <label class="alert alert-danger" *ngIf="confirmPasswordInvalid" style="margin: 10px">Please confirm password</label>
  <label class="alert alert-danger" *ngIf="passwordError">Passwords do not match</label>

  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!formSubmit.valid">Log In</button>
  <p class="mt-5 mb-3 text-muted">© Username: nick@test.com Password: test</p>
</form>


</body>